[user]
	name = Narazaka
	email = info@narazaka.net
[core]
	excludesfile = ~/.gitignore.global
	autocrlf = false
	quotepath = false
	safecrlf = true
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	c = commit
	a = add
	b = branch
	co = checkout
	chp = cherry-pick
[push]
	default = simple
[interactive]
	singlekey = true
	diffFilter = diff-so-fancy --patch
[diff]
	compactionHeuristic = true
[diff "xlsx"]
	binary = true
	textconv = $GOPATH/bin/git-xlsx-textconv
[pager]
[diff "exif"]
	textconv = exiftool
[merge]
	ff = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
