*
!.*
!.*/**/*
**/*.swp
**/*.swo
.lesshst
.viminfo
.vim
.Xauthority
.bash_history
.zcomp*
.zhistory
*.zwc
.config/*
!.config/tint2
.config/tint2/*
!.config/tint2/tint2rc
.cache
.adobe
.anthy
.dbus
.fltk
.cpan*
.cpanm
.gem
.gstreamer*
.vnc
.xombrero
.xchat*
.w3m
.thumbnails
.scim
.ssh
.qemu-launcher
.macromedia
.local
.pekwm/history
.pekwm/themes
.VirtualBox
.android
.ceylon
.emscripten*
.imagej
.lmmsrc.xml
.matplotlib
.node-gyp
.npmrc
.pulse-cookie
.swt
.unite
.twitvim*
.zshenv
