[user]
	name = Narazaka
	email = info@narazaka.net
[core]
	excludesfile = $HOME/.gitignore.global
	autocrlf = false
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	c = commit
	a = add
	b = branch
	co = checkout
	chp = cherry-pick
[push]
	default = simple
[interactive]
	singlekey = true
[diff]
	compactionHeuristic = true
